DISCORD_TOKEN=
PUSHBULLET_TOKEN=
BANK_ACCOUNT=
SERVICE_NAME=자판기 봇
VENDING_MACHINE_IMAGE_URL=
RPC_STATUS=자판기 봇 | 운영 중
RESELLER_ROLE_ID=0
BUYER_ROLE_ID=0
VIP_ROLE_10000=0
VIP_ROLE_30000=0
VIP_ROLE_100000=0
VIP_ROLE_300000=0
VIP_ROLE_500000=0
